<form action="movie_query">
  <select name="search_type">
    <option value="title">Title</option>
    <option value="actor">Actor</option>
  </select>

    <input name="movie_query" type="text">
    <input type="submit" value="Submit">
  <div class = "field">
    <%= label_tag :remember_search?%>
    <%= check_box_tag :remember_search, 1, params[:remember_search] %>
  </div>
</form>


<% if @movie %>
  <% if params[:search_type] == 'title' %>

        <%=image_tag(@movie['urlPoster']) %>

            <h1>
              <%= link_to(@movie['title'], @movie['urlIMDB']) %>
            </h1>
            <h4>
              <%= @movie['year'] %>
            </h4>

           <p><%= @movie['plot'] %></p>
          <p style='font-style: normal'><%= @movie['runtime'].first %></p>



        <% else params[:type] == 'actor' %>
          <div style ='float: left; padding-right: 10px'>

            <%=image_tag(@movie['urlPhoto']) %>
          </div>

            <h3>
              <%=link_to(@movie['birthName'], @movie['urlIMDB']) %>
            </h3>
            <p>
              <%= @movie['bio'] %>
            </p>
      </div>
    <% end %>
  <% end %>
