<html>
<body style="background-color: #b0c4de">

<%= form_tag('/movie_query', method: 'post') do %>
  <select name="search_type">
    <option value="title">Title</option>
    <option value="actor">Actor</option>
  </select>

    <input name="movie_query" type="text">
    <input type="submit" value="Submit">
  <div class = "field">
    <%= label_tag :remember_search?%>
    <%= check_box_tag :remember_search, 1, params[:remember_search] %>
  </div>
      <% end %>
</form>


<% if @movie %>
  <% if params[:search_type] == 'title' %>

        <%=image_tag(@movie['urlPoster']) %>

           <h1 style="font-family: cursive">
              <%= link_to(@movie['title'], @movie['urlIMDB']) %>
           </h1>
           <p style="font-family: 'Inconsolata"><%= @movie['plot'] %></p>
            <ul style="list-style-type: none">
              <li>Year: <%= @movie['year'] %></li>
              <li>Run time: <%= @movie['runtime'].first %></li>
            </ul>


        <% else params[:type] == 'actor' %>
          <div style ='float: left; padding-right: 10px'>

            <%=image_tag(@movie['urlPhoto']) %>
          </div>

            <h3>
              <%=link_to(@movie['birthName'], @movie['urlIMDB']) %>
            </h3>
            <p>
              <%= @movie['bio'] %>
            </p>
      </div>
    <% end %>
  <% end %>
</body>
</html>