<form action="movie_query">
  <select name="search_type">
    <option value="title">Title</option>
    <option value="actor">Actor</option>
  </select>

    <input name="movie_query" type="text">
    <input type="submit" value="Submit">
</form>

<% if @movie %>
  <% if params[:search_type] == 'title' %>
    <img src='<%= @movie['urlPoster'] %>' style='float: left; padding-right: 10px'>
      <h1>
        <a href='<%= @movie['urlIMDB'] %>'>
          <%= @movie['title'] %> (<%= @movie['year'] %>)
        </a>
      </h1>
     <p><%= @movie['plot'] %></p>
    <p style='font-style: normal'><%= @movie['runtime'].first %></p>

  <% else params[:type] == 'actor' %>
    <img src='<%= @movie['urlPhoto'] %>' style='float: left; padding-right: 10px'>
    <h1>
      <a href='<%= @movie['urlIMDB'] %>'>
        <%= @movie['birthName'] %>
        (<%= @movie['dateOfBirth'] %>)
      </a>
    </h1>
    <p><%= @movie['bio'] %></p>
  <% end %>
<% end %>
